/* Your custom styles goes here */
body {
  background: #3d0b0b;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

header {
  margin-bottom: 0rem;
}

a {
  color: #CCC;
  text-decoration: none;
}

h1 {
  color: #f27b43;
  font-size: 2.5rem;
  margin-bottom: 0rem;
  vertical-align: baseline;
  line-height: 3rem;
}


h1 a {
  color: #f27b43 !important;
}

h1::after {
  color: #F6F6F6;
  content: "poterie, céramique";
  font-size: 1.8rem;
  float: right;
  text-align: right;
  margin-left: 50px;
  vertical-align: baseline;
  line-height: 3rem;
  margin-top: 0.25rem;
}

footer {
  margin-top: 4rem;
}

footer::before {
  content: "BONJOUR";
  color: #f27b43;
  font-size: 1.15rem;
  margin-bottom: 20px;
  padding-top: 100px;
  font-weight: bolder;
}

#container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.breadcrumbs {
display: none;
}

.address {
  border-top: 1px solid #f27b43;
  padding-top: 1rem;
  margin-top: 3rem;
    color: #F6F6F6;
  font-size: 1.1rem;
  line-height: 2rem;
  font-style: normal;
  font-weight: bold;
}

.summary {
display:none;
}

.date {
display:none;
}

header {
  margin-bottom: 2rem;
}
